<div class="container justify-content-center">
    <form [formGroup]="productForm">
        <div class="row mb-2">
            <div class="input-group inp-div">
                <span class="input-group-text">کد</span>
                <input class="form-control" formControlName='Code' type="number" placeholder="کد محصول"/>
            </div>
            <div class="inp-error col-md-12" *ngIf="productForm.get('Code').invalid && (productForm.get('Code').dirty || productForm.get('Code').touched)">
                <small class="inp-error">لطفا کد محصول را وارد کنید</small>
            </div>
        </div>
        <div class="row mb-2">
            <div class="input-group inp-div">
                <span class="input-group-text">نام</span>
                <input class="form-control" formControlName='Name' placeholder="نام محصول"/>
            </div>
            <div class="inp-error col-md-12" *ngIf="productForm.get('Name').invalid && (productForm.get('Name').dirty || productForm.get('Name').touched)">
                <small class="inp-error">لطفا نام محصول را وارد کنید</small>
            </div>
        </div>
        <div class="row mb-2">
            <div class="input-group inp-div">
                <span class="input-group-text">قیمت</span>
                <input class="form-control" formControlName='Price' type="number" placeholder="قیمت محصول"/>
            </div>
            <div class="inp-error col-md-12" *ngIf="productForm.get('Price').invalid && (productForm.get('Price').dirty || productForm.get('Price').touched)">
                <small class="inp-error">لطفا قیمت محصول را وارد کنید</small>
            </div>
        </div>
        <div class="row mb-2">
            <div class="input-group inp-div">
                <span class="input-group-text">تعداد</span>
                <input class="form-control" formControlName='count' type="number" placeholder="تعداد محصول"/>
            </div>
            <div class="inp-error col-md-12" *ngIf="productForm.get('count').invalid && (productForm.get('count').dirty || productForm.get('count').touched)">
                <small class="inp-error">لطفا تعداد محصول را وارد کنید</small>
            </div>
        </div>
        <div class="row mb-2">
            <button type="submit" class="btn btn-primary mce-btn-group" [disabled]="productForm.invalid">ثبت</button>
        </div>
    </form>
</div>